@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic,cyrillic-ext');

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.blueGrad {
    background: rgba(2, 0, 36, 0.8);
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.8) 0%, rgba(9, 9, 121, 0.8) 100%, rgba(2, 0, 36, 0.8) 0%);
}

.white {
    color: white;
}

span {
    font-weight: 700;
}

.redGrad {
    background: rgba(2, 0, 36, 0.8);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 0%, rgba(9, 9, 121, 0.8) 0%, rgba(255, 59, 0, 0.8) 100%);
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2F80ED;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.noTrigger-hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.noTrigger-hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2F80ED;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@mixin myFlex($direction, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin myGrid($columns, $align: center, $justify: center, $gap: 10px) {
    display: grid;
    grid-template-columns: $columns;
    align-items: $align;
    justify-content: $justify;
    grid-gap: $gap;
}

@mixin bgOverride($size: 2vh) {
    padding: $size 0px $size 0px;
    $size: -$size;
    margin: $size 0px $size 0px;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

    &:hover {
        color: white;
    }
}

p {
    font-size: 16px;
    margin: 15px 0px;
    line-height: 20px;
}

.shadow {
    box-shadow: 0px 0px 18px rgba(67, 70, 155, 0.24);
}

.myMobile {
    display: none;
}

body {
    font-family: Montserrat;

    .section {
        width: 80%;
        margin: auto;
        margin-bottom: 120px;
    }

    .smallSection {
        width: 60%;
        margin: auto;
        margin-bottom: 120px;
    }

    .title,
        {
        color: #00b1ff;
        line-height: 48px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin: 40px 0px;
    }

    .bigger {
        font-size: 50px;
    }

    .subTitle {
        color: #00b1ff;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }

    .myWhite {
        color: #fff;
    }

    .left {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    body {
        .section {
            width: 90%;
        }

        .smallSection {
            width: 90%;
        }

        .title {
            font-size: 2em;
        }
    }

    .myMobile {
        display: block;
    }

    .myDesktop {
        display: none !important;
    }
}