@import url("/includes/icomoon/style.css");

* {
    padding: 0;
    margin: 0;
}

.headerSpace {
    height: 150px;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 1000000;

    .noTrigger-hvr-underline-from-left:before {
        background: #00B1FF;
    }

    .noTrigger-hvr-underline-from-left {
        width: 100%;
    }

    .flexington {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 7px 27px rgba(0, 0, 0, 0.174);
        height: 70px;

        img {
            height: 50px;
            padding: 10px 0;
        }

        .myDesktop {
            min-width: 50%;
            color: #6F838D;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .navElement {
            height: 100%;
            width: 200px;
            cursor: pointer;

            .hidden {
                display: none;
                background-color: white;
                // box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
                // border: 1px solid #6F838D;

                div {
                    padding: 10px;
                    box-sizing: border-box;
                    line-height: 40px;
                    width: 100%;
                    min-height: 40px;
                    // border-bottom: 1px solid #6F838D;
                    color: #6F838D;
                    transition: color 0.2s;

                    &:hover {
                        color: #00B1FF;
                        // border-bottom: 1px solid #00B1FF;
                    }
                }
            }

            a {
                line-height: 70px;
                color: #6F838D;
                font-weight: bold;
                transition: color 0.2s;
            }
        }

        .navElement:hover {
            .hidden {
                display: block;
            }

            .noTrigger-hvr-underline-from-left:before {
                right: 0;
            }

            a {
                color: #00B1FF;
            }
        }
    }
}