@import url("/includes/icomoon/style.css");

* {
    padding: 0;
    margin: 0;
}

.headerSpace {
    height: 150px;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 1000000;

    .noTrigger-hvr-underline-from-left:before {
        background: #00B1FF;
    }

    .noTrigger-hvr-underline-from-left {
        width: 100%;
    }

    .flexington {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 7px 27px rgba(0, 0, 0, 0.174);
        height: 70px;

        .menuWrapper {
            display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: space-between;

            img {
                height: 50px;
                padding: 10px 0;
            }

            .switch {
                display: flex;
                align-items: center;

                .arrow {
                    margin-left: 10px;
                    background-color: black;
                    width: 10px;
                    height: 10px;
                    border-radius: 15%;
                    transform: rotate(225deg);
                    transition: 0.5s all;
                    position: relative;

                    &:before {
                        content: "1";
                        color: white;
                        background-color: white;
                        position: absolute;
                        transform: rotate(-45deg);
                        font-size: 1px;
                        text-align: center;
                        width: 16px;
                        height: 10px;
                        left: 1px;
                        top: 3px;
                    }

                    &:hover {
                        transform: rotate(45deg);
                    }
                }
            }

            .myDesktop {
                min-width: 50%;
                color: #6F838D;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .navElement {
                height: 100%;
                width: 200px;
                cursor: pointer;

                .hidden {
                    display: none;
                    background-color: white;

                    div {
                        padding: 10px;
                        box-sizing: border-box;
                        line-height: 40px;
                        width: 100%;
                        min-height: 40px;
                        color: #6F838D;
                        transition: color 0.2s;

                        &:hover {
                            color: #00B1FF;
                        }
                    }
                }

                a {
                    line-height: 70px;
                    color: #6F838D;
                    font-weight: bold;
                    transition: color 0.2s;
                }
            }

            .navElement:hover {
                .hidden {
                    display: block;
                }

                .noTrigger-hvr-underline-from-left:before {
                    right: 0;
                }

                a {
                    color: #00B1FF;
                }
            }
        }
    }
}