@import url("/includes/icomoon/style.css");
* {
  padding: 0;
  margin: 0;
}

.headerSpace {
  height: 150px;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 1000000;
}

#header .noTrigger-hvr-underline-from-left:before {
  background: #00B1FF;
}

#header .noTrigger-hvr-underline-from-left {
  width: 100%;
}

#header .flexington {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 7px 27px rgba(0, 0, 0, 0.174);
          box-shadow: 0px 7px 27px rgba(0, 0, 0, 0.174);
  height: 70px;
}

#header .flexington .menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .flexington .menuWrapper img {
  height: 50px;
  padding: 10px 0;
}

#header .flexington .menuWrapper .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .flexington .menuWrapper .switch .arrow {
  margin-left: 10px;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 15%;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
}

#header .flexington .menuWrapper .switch .arrow:before {
  content: "1";
  color: white;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 1px;
  text-align: center;
  width: 16px;
  height: 10px;
  left: 1px;
  top: 3px;
}

#header .flexington .menuWrapper .switch .arrow:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .flexington .menuWrapper .myDesktop {
  min-width: 50%;
  color: #6F838D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .flexington .menuWrapper .navElement {
  height: 100%;
  width: 200px;
  cursor: pointer;
}

#header .flexington .menuWrapper .navElement .hidden {
  display: none;
  background-color: white;
}

#header .flexington .menuWrapper .navElement .hidden div {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
  width: 100%;
  min-height: 40px;
  color: #6F838D;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#header .flexington .menuWrapper .navElement .hidden div:hover {
  color: #00B1FF;
}

#header .flexington .menuWrapper .navElement a {
  line-height: 70px;
  color: #6F838D;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#header .flexington .menuWrapper .navElement:hover .hidden {
  display: block;
}

#header .flexington .menuWrapper .navElement:hover .noTrigger-hvr-underline-from-left:before {
  right: 0;
}

#header .flexington .menuWrapper .navElement:hover a {
  color: #00B1FF;
}
/*# sourceMappingURL=headerStyle.css.map */